<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<% include partials/bootstrap_include.ejs %>
	<title> <%= device_name %> </title>
	<link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
	<div class="container">

		<% include partials/navbar.ejs %>

		<div class="row">
			
			<div class="col-sm-3">
	          <% include partials/brands_aside.ejs %>
	        </div>

			<div class="col-sm-9">
				<div class="row mt-2 mb-0 bg-dark mr-0">
		            <div class="col-sm-7 my-0">
		              <div class="jumbotron bg-dark my-0">
		                <h1 class="display-1 text-warning" id="device_name"> <%= device_name %> </h1>
		              </div>
					</div>

					<div class="col-sm-5">
						<ul class="mt-5" id="highlights_list">
							<% for(feature of highlights.splice(0, highlights.length - 1)){ %>
								<li class="text-warning my-1"><%= feature %></li>
							<% } %>
						</ul>
					</div>
	          	</div>

	          	<div class="row mt-0">
	          		<div class="col-sm my-0">
	          			<ul class="pagination my-0 py-0 float-right">
			          		<li class="page-item page-link bg-dark text-light">Specifications</li>
			          		<li class="page-item page-link text-secondary">Gallery</li>
			          		<li class="page-item page-link text-secondary">Reviews</li>
			          		<li class="page-item page-link text-secondary">Write a Review</li>
			          		<li class="page-item page-link text-secondary">Our Opinions</li>
	          			</ul>
	          		</div>
	          	</div>

	          	<div class="row p-3" id="inner_container">
	          		
	          	</div>
	          	
			</div>

		</div>

	</div>

	<script src="/scripts/load_commons.js"></script>
	<script src="/scripts/device_details_script.js"></script>
</body>
</html>