<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-wdth, initial-scale=1.0">
    <meta charset="utf-8">
    <% include partials/bootstrap_include.ejs %>
  </head>
  <body>
  	
  	<div class="container-fluid m-0 p-0">

      <%include partials/navbar.ejs%>

      <div class="row">
        <div class="col-sm-3">
          <div class="list-group">
            <% for(brand of brands) {%>
                <a class="list-group-item list-group-item-action"><%= brand %></a>
            <% } %>
          </div>
        </div>
      </div>
  		
  	</div>
  
  </body>
</html>
