<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <% include partials/bootstrap_include.ejs %>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
  	
  	<div class="container">

      <%include partials/navbar.ejs%>

      <div class="row">
        <div class="col-sm-3">
          <div class="list-group mt-2">
            <li class="list-group-item bg-secondary text-light">Brands</li>
            <% for(brand of brands.splice(0, 7)) {%>
                <a class="list-group-item list-group-item-action cursor-pointer"><%= brand %></a>
            <% } %>
            <a class="list-group-item list-group-item-action cursor-pointer bg-secondary text-light">All Brands >>></a>
          </div>
        </div>
        <div class="col-sm-9">

          <div class="row my-2">
            <div class="col-sm">
              <div class="jumbotron bg-dark">
                <h1 class="display-1 text-warning"> New Arrival </h1>
              </div>
            </div>
          </div>

          <div class="row my-2">
            <div class="col-sm">
              <div class="card">
                <div class="card-header">
                  <h4 class="text-lighter">Top Rated</h4>
                </div>
                <div class="card-body">
                  <p>List of mobiles</p>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
  		
  	</div>
  
  </body>
</html>
