#navbar{
    width: 80%;
    font-size: 18px;
    font-family: Tajawal;
    margin: auto;
    background-color: black; 
    position: sticky;
    top: 0px;
}

#navbar ul{
    list-style: none;
    display: inline;
}

#navbar ul li{
    display: inline;
    margin: 10px;
}

#navbar ul li a{
    text-decoration: none;
    color: olive;
    transition: border-bottom-color 0.5s, color 0.5s;
}

#navbar ul li~li a:hover{
    border-bottom-style: solid;
    border-bottom-color: olive;
    border-bottom-width: 1px; 
    text-shadow: 0px 0px 1px rgba(255, 255, 255, 0.8);
    color: #fff;
}

.logo{
    font-family: Changa;
    font-size: 30px;
}

.logo a{
    color: #fff;
    text-decoration: none;
}

.qmark{
    transform: rotate(150deg);
    vertical-align: middle;
    position: relative; 
    right: 10px;
    bottom: 4px;
}

#navbar form{
    display: inline;
}

#navbar form input{
    width: 20%;
    font-family: "Tajawal";
    font-size: 15px;
    border-width: 1px;
    border-color: #fff;
    border-radius: 15px;
    text-align: left;
    padding-left: 10px; 
    padding-top: 8px;
    margin-left: 20%;
}

#navbar form input:focus{
    outline: 0px;
    border:none;
    box-shadow: 0px 0px 4px #fff;
}

#navbar form button{
    background-color: inherit;
    border-radius: 15px;
    /*border-width: 1px;
    border-color: rgba(0, 13, 51, 0.6); */
    border: none;
    position: relative;
    right: 40px;
    top: 5px;
    cursor: pointer;
}


/* Contact Section */

#contact-section{
    margin: auto;
    margin-top: 2%;
    width: 80%;
    height: 400px;;
    background-color: black;
    font-family: Tajawal;
}

#contact-section > *{
    margin: 2.5% 0 0 3%;
    width: 20%;
    float: left;
    color: #fff;
}

#contact-section > * h3{
    width: fit-content;
    font-family: Changa;
    color: #fff;
    font-weight: lighter;
    border-bottom: 1px solid olive;
    text-align: left;
}

#contact-section > * span{
    vertical-align: middle;
}

#social h3{
    margin-left: 40px;
}

#social ul{
    list-style: none;
}

#social ul li{
    margin-top: 10px;
}

#social ul li a{
    text-decoration: none;
    color: #fff;
}

g{
    fill: olive;
}